body{
    text-justify: auto;
    font-family: 'Lucida Sans';
}
.container-fluid{
    background-color: palegoldenrod;
}
li a:hover {
    background-color: #aadad3;
}
.container{
    background-color: #aadad3;
    text-align:justify;
}
.card{
    border-color: #aadad3;
    flex: auto;
}
.row{
    align-items: center;
}
h1,h2,h3,h5{
   color: palevioletred;
}
.divfoot{
    background-color: palegoldenrod;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
}