    body{
        text-justify: auto;
        font-family: 'Lucida Sans';
    }
    .container-fluid{
        background-color: palegoldenrod;
        width: 100%
    }
    li a:hover {
        background-color: #aadad3;
    }
    .col-3{
        background-color: #aadad3;
        text-align: center;
        border: 1px solid teal;
        height: 300px;
        width: 300px;
        padding: 10px;
        margin: auto;
        border-radius: 35px 0px 35px 0px; 
        float: left;
    }
    .row{
        align-items: center;
    }
    h1,h2{
        color: palevioletred;
    }
    
    .container{
        background-color: #aadad3;
        text-align: center;
        border-radius: 35px 0px 35px 0px; 
        
    }
    .mx-auto{
        width: 100%
    }
    /*table,th,tr,td{
        border-color: teal;
        border: 1px solid teal;
        text-align: center;
        margin: 0 auto;
    }
    .prc-25{
        width: 25%;
        border: 1px solid teal;
	}*/
    .divfoot{
        background-color: palegoldenrod;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin: 0;
        overflow: hidden;
        width: 100%
    }
    