    body{
        text-justify: auto;
        font-family: 'Lucida Sans';
    }
    div{
        background-color: #aadad3;
    }
    h1,h2, h3{
        color: palevioletred;
    }
    .divfoot{
        background-color: rgb(250, 204, 250);
        display:flex;
        grid-column:inherit;
        align-items: center;
        justify-content: space-between;
    }